# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Database
# DATABASE_URL="postgresql://postgres:password@localhost:5433/nu_dev_lens"
DATABASE_URL=""

# Cloud database (Neon) - uncomment to use instead of local
# DATABASE_URL="postgresql://neondb_owner:npg_vKpVRCPEs5f1@ep-nameless-cell-a1rg7nl6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

GITHUB_TOKEN=""

NAI_BASE_URL=https://dpro-nai.corp.p10y.ntnxdpro.com/enterpriseai/v1
NAI_API_KEY=""